@using Blazor.Diagrams.Components.Renderers
@using Blazor.Diagrams.Core.Models
@using ModulesApp.Components.ServerTasks.Ports
@using ModulesApp.Interfaces
@using ModulesApp.Models.ServerTasks
@using MudBlazor

<div class="node">
    <div class="node-header" style="@GetBackgroundStyle()">
        <MudIcon Icon="@TaskNode.GetNodeIconString(Node.Type)"/>
        <span class="node-header-text">@Header</span>
        @if(Node.ShowIdentifier)
        {
            <span class="node-header-text">Id: @Node.Order</span>
        }
    </div>

    <div class="node-content">
        @ChildContent
    </div>

    @foreach (TaskPort port in Node.Ports)
    {
        if (port.Input && port.PositionAlignment == PortPositionAlignment.Top)
        {
            <PortRenderer @key="port" Port="port" Class="diagram-port in first" Style="@GetPortStyle(port.DataType)" />
            <div class="port-text port-input port-top">@GetPortSymbol(port.DataType)</div>
        }

        else if (port.Input && port.PositionAlignment == PortPositionAlignment.Center)
        {
            <PortRenderer @key="port" Port="port" Class="diagram-port in middle" Style="@GetPortStyle(port.DataType)" />
            <div class="port-text port-input port-center">@GetPortSymbol(port.DataType)</div>
        }

        else if (port.Input && port.PositionAlignment == PortPositionAlignment.Bottom)
        {
            <PortRenderer @key="port" Port="port" Class="diagram-port in second" Style="@GetPortStyle(port.DataType)" />
            <div class="port-text port-input port-bottom">@GetPortSymbol(port.DataType)</div>
        }

        else if (!port.Input && port.PositionAlignment == PortPositionAlignment.Center)
        {
            <PortRenderer @key="port" Port="port" Class="diagram-port out middle" Style="@GetPortStyle(port.DataType)" />
            <div class="port-text port-output port-center">@GetPortSymbol(port.DataType)</div>
        }

        else if (!port.Input && port.PositionAlignment == PortPositionAlignment.Top)
        {
            <PortRenderer @key="port" Port="port" Class="diagram-port out first" Style="@GetPortStyle(port.DataType)" />
            <div class="port-text port-output port-top">@GetPortSymbol(port.DataType)</div>
        }

        else if (!port.Input && port.PositionAlignment == PortPositionAlignment.Bottom)
        {
            <PortRenderer @key="port" Port="port" Class="diagram-port out second" Style="@GetPortStyle(port.DataType)" />
            <div class="port-text port-output port-bottom">@GetPortSymbol(port.DataType)</div>
        }
    }
</div>

@code 
{
    [Parameter]
    public TaskNode Node { get; set; } = null!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Header { get; set; } = string.Empty;

    private string _mainColor => TaskNode.GetNodeColorString(Node.Type);

    private string GetPortStyle(NodeValueType type)
    {
        if (type == NodeValueType.NoData)
        {
            return $"border-color: var({_mainColor});";
        }
        else
        {
            return $"background-color: var({_mainColor}); border-color: var({_mainColor});";
        }
    }

    private string GetBackgroundStyle() => $"background-color: var({_mainColor});";

    private string GetPortSymbol(NodeValueType dataPort)
    {
        return dataPort switch
        {
            NodeValueType.Boolean => "B",
            NodeValueType.Number => "N",
            NodeValueType.String => "S",
            NodeValueType.Array => "A",
            _ => ""
        };
    }
}