@using ModulesApp.Components.DashBoardEntities
@using ModulesApp.Components.Dialog
@using ModulesApp.Models.Dasboards
@using ModulesApp.Models.Dasboards.Entities
@using ModulesApp.Services
@using ModulesApp.Services.Data

@inject DashboardService _dashBoardService
@inject ContextService _serverContextService
@inject IDialogService DialogService
@inject NotifyService _notifyService

@implements IDisposable

@page "/"
@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>

<MudGrid Spacing="0">
    @if (_dashboards == null || _selectedDashboard == null)
    {
        <MudItem xs="12">
            <div class="d-flex align-start justify-center mud-width-full">
                <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
            </div>
        </MudItem>
    }
    else
    {
        <MudItem xs="12" Class="mb-2">
            <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Baseline" StretchItems="StretchItems.Middle">
                <div class="d-flex align-start justify-center mud-width-full">
                    <MudChipSet T="DbDashboard"
                                @bind-SelectedValue="_selectedDashboard"
                                Variant="Variant.Text"
                                SelectionMode="SelectionMode.SingleSelection"
                                Size="Size.Large"
                                AllClosable="@EditMode"
                                OnClose="DeleteDashBoard"
                                Color="Color.Primary">
                        @foreach (var d in _dashboards)
                        {
                            <MudChip Value="@d" Style="height: 55px" Icon="@d.IconString">
                                <MudText>@d.Name</MudText>
                            </MudChip>
                        }
                        @if (EditMode)
                        {
                            <MudChip Value="@("Add")"
                                     Style="height: 55px"
                                     Color="Color.Primary"
                                     Variant="Variant.Text"
                                     Size="Size.Large"
                                     Icon="@Icons.Material.Filled.Add"
                                     OnClick="OpenDashboardDialog" />
                        }
                    </MudChipSet>
                </div>
                <MudSwitch @bind-Value="@EditMode" Color="Color.Primary">Edit</MudSwitch>
            </MudStack>
        </MudItem>

        <MudItem xs="12">
            <div class="d-flex align-start justify-center flex-wrap gap-4">
                @foreach (var e in _selectedDashboard.Entities)
                {
                    if (e is DbBasicCardEntity bce)
                    {
                        <BasicCardEntity EditMode="@EditMode" Entity="@bce"
                                         DeleteButtonClick="DeleteDashBoardEntity" />
                    }
                    else if (e is DbDataListEntity dle)
                    {
                        <DataListEntity EditMode="@EditMode" Entity="@dle"
                                        DeleteButtonClick="DeleteDashBoardEntity" />
                    }
                    else if (e is DbSwitchEntity se)
                    {
                        <SwitchEntity EditMode="@EditMode" Entity="@se"
                                      DeleteButtonClick="DeleteDashBoardEntity"
                                      ServerContextService="_serverContextService" />
                    }
                    else if (e is DbTemperaturesListEntity tle)
                    {
                        <TemperaturesListEntity EditMode="@EditMode" Entity="@tle"
                                                DeleteButtonClick="DeleteDashBoardEntity"
                                                ServerContextService="_serverContextService" />
                    }
                    else if (e is DbButtonEntity be)
                    {
                        <ButtonEntity EditMode="@EditMode" Entity="@be"
                                      DeleteButtonClick="DeleteDashBoardEntity"
                                      ServerContextService="_serverContextService" />
                    }
                    else if (e is DbValueSetterEntity vse)
                    {
                        <ValueSetterEntity EditMode="@EditMode" Entity="@vse"
                                           DeleteButtonClick="DeleteDashBoardEntity"
                                           ServerContextService="_serverContextService" />
                    }
                }

                @if (EditMode)
                {
                    <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="OpenAddEntityDialog" />
                }
            </div>
        </MudItem>
    }
</MudGrid>

@code
{
    private bool _editMode = false;
    private bool EditMode
    {
        get => _editMode;
        set
        {
            if (!value)
            {
                UpdateDashboard();
            }
            _editMode = value;
        }
    }
    private List<DbDashboard>? _dashboards;

    private DbDashboard? _selectedDashboard;

    protected override void OnInitialized()
    {
        _notifyService.DashboardEntityDataEvent += OnDashBoardEntityDataChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dashboards = await _dashBoardService.GetAllDashboardsAsync();
            if (_dashboards.Count == 0)
            {
                var home = new DbDashboard
                    {
                        Name = "Home",
                        IconString = Icons.Material.Filled.Home
                    };
                _dashBoardService.AddDashBoard(home);
                _dashboards.Add(home);
            }
            _selectedDashboard = _dashboards.FirstOrDefault();
            StateHasChanged();
        }
    }

    private void DeleteDashBoard(MudChip<DbDashboard> chip)
    {
        if (_dashboards != null && chip.Value != null)
        {
            _dashBoardService.DeleteDashboard(chip.Value);
            _dashboards.Remove(chip.Value);
            _selectedDashboard = _dashboards.FirstOrDefault();
        }
    }

    private void DeleteDashBoardEntity(DbDashboardEntity entity)
    {
        if (_selectedDashboard != null)
        {
            _dashBoardService.DeleteEntity(entity);
            _selectedDashboard.Entities.Remove(entity);
            StateHasChanged();
        }
    }

    private void OnDashBoardEntityDataChanged(DbDashboardEntity entity)
    {
        if (_selectedDashboard != null && !_editMode)
        {
            var index = _selectedDashboard.Entities.FindIndex(e => e.Id == entity.Id);
            if (index >= 0)
            {
                _selectedDashboard.Entities[index] = entity;
                InvokeAsync(StateHasChanged);
            }
        }
    }

    private void UpdateDashboard()
    {
        if (_selectedDashboard != null)
        {
            foreach (var e in _selectedDashboard.Entities)
            {
                _dashBoardService.UpdateEntity(e);
            }
        }
    }

    private void AddDashBoardEntity(DbDashboardEntity entity)
    {
        if (_selectedDashboard != null)
        {
            entity.DashboardId = _selectedDashboard.Id;
            _dashBoardService.AddEntity(entity);
            _selectedDashboard.Entities.Add(entity);
        }
    }


    private async Task OpenAddEntityDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        var dRef = await DialogService.ShowAsync<DashboardAddEntityDialog>("Simple Dialog", options);
        var result = await dRef.Result;
        if (result is not null && !result.Canceled)
        {
            if (result.Data is DbDashboardEntity entity)
            {
                AddDashBoardEntity(entity);
            }
        }
    }

    private async Task OpenDashboardDialog() =>
        await OpenDashboardDialog(new DbDashboard
            {
                Name = "New Dashboard",
                IconString = Icons.Material.Filled.Home
            });

    private async Task OpenDashboardDialog(DbDashboard dashboard)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        var parameters = new DialogParameters
        {
            { "Dashboard", dashboard }
        };

        var dRef = await DialogService.ShowAsync<DashboardDialog>("Add Entity", parameters, options);
        var result = await dRef.Result;

        if (result is not null && !result.Canceled)
        {
            if (result.Data is DbDashboard entity)
            {
                _dashBoardService.AddDashBoard(entity);
                _dashboards?.Add(entity);
                _selectedDashboard = entity;
            }
        }
    }

    public void Dispose()
    {
        _notifyService.DashboardEntityDataEvent -= OnDashBoardEntityDataChanged;
    }
}